
<% @products.each do |product|%>
<%= product.brand%>
<ul><img src="<%=product.image_link%>" width="100px" onerror="this.src='https://www.schoolonlineuniversity.com/uploads/thumbnails/course_thumbnails/16.jpg'">
<%= link_to product.name, product%>
<span>$</span><%=product.price%></ul>
<% end %>
</ol>