<!DOCTYPE html>
<html>
  <head>
  <title>MM 2022</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/bulma-divider.min.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Makeup Mayhem</h1>
  <p>Welcome to your cosmetic journey.</p>
</div>
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/products">Products</a>
</nav>
<%= form_with(url: search_products_path, method: :get, local: true) do %>
  <p>Which Product Would You Like To Find?</p>
  <%= text_field_tag(:words, nil, class: "input", placeholder: "Product Name Here!") %>
  <%= submit_tag("Search", class: "button is-primary") %>
<% end %>
    <%=yield %>
  </body>
</html>